/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: rgb(0, 101, 252);
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    margin: 0;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

.logo {
    display: flex;
    padding: 30px 50px 30px 0px;
    align-items: flex-start;
}

.topbar {
    display: flex;
    justify-content: space-between;
}

.topbar-links {
    display: flex;
    list-style-type: none;
    gap: 68px;
    padding: 0 2px;
}

.topbar a {
    padding-top: 14px; 
    text-decoration: none;
    color: black;
}

.topbar a:hover {
    border-top: 2px solid var(--main-color, #0065FC);
    color: var(--main-color, #0065FC);
}

.headline p{
    margin-top: 8px;
    margin-bottom: 0;
}

.search {
    margin-top: 30px;
}

.search-bar {
    display: flex;
    width: 360px;
    height: 49px;
    align-items: center;
    border-radius: 15px;
    border: 1px solid var(--grey, #F2F2F2);
    background: var(--white, #FFF);
    margin: 35px 0;
}

.fa-location-dot {
    padding: 25px 18px;
    background-color: var(--main-bg-color);
    border-radius: 15px 0 0 15px;
}

.search-bar input {
    padding: 0 24px;
    width: 147px;
    height: 49px;
    border: none;
}

#city-search::placeholder {
    color: var(--black, #000);
    font-size: 18px;
    font-weight: 700;
}

.search-desktop {
    
    padding: 15px 16px;
    border-radius: 0px 15px 15px 0px;
    border: none;
    background: var(--main-color, #0065FC);
    color: var(--white, #FFF);
    font-size: 18px;
    font-weight: 700;
    color: var(--white, #FFF);
}

.search-mobile {
    display: none;
}

.search-desktop:hover {
    cursor: pointer;
}

.filters {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.filters span{
    padding: 12px 0;
    font-size: 18px;
    font-weight: 700;
}

input[type="radio"].filter {
    display: none;
}

input[type="radio"].filter + label {
    display: flex;
    align-items: center;
    gap: 10px;
    border: solid 2px var(--main-bg-color);
    background-color: var(--white);
    border-radius: 25px;
    padding: 12px 18px;
    cursor: pointer;
    margin-bottom: 35px;
    font-size: 17px;
    font-weight: 700;
}

input[type="radio"].filter:hover + label {
    background-color: var(--filter-bg-color);
}

.fa-info {
    padding: 10px 8px;
    border: solid 2px var(--main-bg-color);
    border-radius: 50px;
    margin-right: 10px;
    margin-bottom: 35px;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}




/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards .card {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {

    .main-container {
        padding: 0;
    }
    .topbar {
        flex-direction: column;
        align-items: center;
    }

    .logo {
        padding: 30px;
    }

    .topbar-links {
        display: flex;
        margin: 0;
        padding: 0 0 15px 0;
        width: 100%;
        gap: 0;
    }

    .topbar a:hover {
        border-top: 0;
    }

    .column { 
        flex:50%; 
        text-align: center;
        padding-bottom: 15px;
        border-bottom: 2px solid var(--main-bg-color, #0065FC);
    }

    .column:hover { 
        flex:50%; 
        border-bottom: 2px solid var(--main-color, #0065FC);
        color: var(--main-color, #0065FC);
    }

    .search {
        padding: 0 20px;
    }

    .headline {
        margin-bottom: 0;
    }

    .search-mobile {
        display: block;
        padding: 15px 16px;
        border-radius: 15px;
        border: none;
        background: var(--main-color, #0065FC);
        box-shadow: 0 3px 3px rgb(197, 196, 196);
        cursor: pointer;
    }
    
    .search-desktop {
        display: none;
    }

    .search-bar {
        width: 335px;
    }

    .search-bar input {
        width: 190px;
    }
}